<mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  cdkDropListGroup
  matSort
>
  <ng-container
    *ngFor="let column of columns; trackBy: trackByFn; let i = index"
    [matColumnDef]="column.field"
  >
    <mat-header-cell
      *matHeaderCellDef
      [resizeColumn]="true"
      [index]="i"
      cdkDropList
      cdkDropListLockAxis="x"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropListDropped($event, i)"
      cdkDrag
      (cdkDragStarted)="dragStarted($event, i)"
      [cdkDragData]="{ name: column.field, columIndex: i }"
    >
      <span>{{ column.field }} </span>
    </mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element[column.field] }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
